body {
    background-color: #282c34;  /* 背景色をダークグレーに */
    color: #ffffff;  /* テキスト色を白に */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #ffffff;  /* タイトルの色を白に */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #444;
    text-align: left;
}

th {
    background-color: #3c4043;  /* テーブルヘッダーの色 */
}

tr:nth-child(even) {
    background-color: #3c3f41;  /* 偶数行の背景色 */
}

tr:nth-child(odd) {
    background-color: #32363b;  /* 奇数行の背景色 */
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: auto;  /* 横幅を自動調整 */
    min-width: 150px;  /* 最小幅を設定 */
}

select {
    width: 100%;  /* 幅を100%に設定 */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #ffffff;  /* 入力フィールドの背景色を白に */
    color: #000000;  /* 入力フィールドのテキスト色を黒に */
}

input[type="datetime-local"] {
    width: 160px;  /* 幅を150pxに設定してコンパクトに */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #ffffff;  /* 入力フィールドの背景色を白に */
    color: #000000;  /* 入力フィールドのテキスト色を黒に */
}

input[type="checkbox"] {
    margin-right: 10px;  /* チェックボックスの右側にマージンを追加 */
}

input[type="submit"] {
    background-color: #ff4d4d;  /* ボタンの背景色を赤に */
    border: none;
    cursor: pointer;
    padding: 8px 16px;  /* ボタンのサイズを小さく */
    font-size: 14px;  /* フォントサイズを調整 */
    border-radius: 4px;  /* ボタンの角を丸める */
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #cc0000;  /* ホバー時の色 */
}

.error {
    color: #ff5555;  /* エラーメッセージの色 */
    font-size: 14px;
}

.status-complete {
    color: yellow;
}
.status-pending {
    color: red;
}