<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3; URL=">
    <title>ミニチュア工場デモ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>データ一覧</h1>
    <table>
        <tr>
            <th>ロット番号</th>
            <th>納期</th>
            <th>出庫状態</th>
            <th>加熱状態</th>
            <th>加熱時間[ms]</th>
            <th>研磨時間[ms]</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ (row[1]-1) // 3 }}-{{ (row[1]-1) % 3 }}</td>
            <td>{{ row[2].strftime('%Y-%m-%d %H:%M') }}</td>
            <td class="{{ 'status-complete' if row[3] else 'status-pending' }}">
                {{ '済' if row[3] else '未' }}
            </td>
            <td class="{{ 'status-complete' if row[4] else 'status-pending' }}">
                {{ '済' if row[4] else '未' }}
            </td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
