<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ミニチュア工場デモ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>納期登録</h1>

    <form method="POST" action="/update">
        <label for="lot_no">ロット番号</label>
        <div class="select-wrapper">
            <select id="lot_no" name="lot_no" required onchange="fetchLotData()">
                <option value="">選択してください</option>
                {% for i in range(1, 10) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <br>
    
        <label for="deadline">納期:</label>
        <input type="datetime-local" id="deadline" name="deadline" value="{{ default_deadline }}" required>
        <br>
        <label for="heat_window">加熱時間(30-200):</label>
        <input type="number" id="heat_window" name="heat_window" value="30" title="数値は30から200の間を入力してください" required>[ms]
        <br>
        <label for="polishing_window">研磨時間(20-200):</label>
        <input type="number" id="polishing_window" name="polishing_window" value="20" title="数値は20から200の間を入力してください" required>[ms]
        <br>
    
        <input type="submit" value="更新">
    </form>
    
    <script>
        function fetchLotData() {
            var lotNo = document.getElementById('lot_no').value;
    
            if (!lotNo) {
                return;  // ロット番号が未選択なら何もしない
            }
    
            // サーバーにGETリクエストを送る
            fetch(`/get_lot_data?lot_no=${lotNo}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                        return;
                    }
    
                    // 取得したデータをフォームに反映
                    document.getElementById('deadline').value = data.deadline;
                    document.getElementById('heat_window').value = data.heat_window;
                    document.getElementById('polishing_window').value = data.polishing_window;
                })
                .catch(error => {
                    console.error('エラーが発生しました:', error);
                });
        }
    </script>
    

    <h2>データ一覧</h2>
    <table>
        <tr>
            <th>ロット番号</th>
            <th>納期</th>
            <th>出庫状態</th>
            <th>加熱状態</th>
            <th>加熱時間[ms]</th>
            <th>研磨時間[ms]</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2].strftime('%Y-%m-%d %H:%M') }}</td>
            <td class="{{ 'status-complete' if row[3] else 'status-pending' }}">
                {{ '済' if row[3] else '未' }}
            </td>
            <td class="{{ 'status-complete' if row[4] else 'status-pending' }}">
                {{ '済' if row[4] else '未' }}
            </td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
