<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HSV Color Detection</title>
    <style>
        #video-container {
            position: relative;
            display: inline-block;
        }
        #video {
            /* width: 800px; */
            height: auto;
        }
        .color-map {
            position: absolute;
            background: rgba(255, 255, 255, 0.7);
            padding: 5px;
            border-radius: 5px;
            z-index: 1;
            width: 120px; /* カラーマップの幅 */
            height: auto; /* 高さは自動調整 */
            font-size: 12px; /* フォントサイズ */
        }
        /* 各カラーマップの位置を設定 */
        #red-color-picker-min {
            top: 10px;
            left: 10px;
        }
        #red-color-picker-max {
            top: 230px; /* 下に移動 */
            left: 10px;
        }
        #blue-color-picker-min {
            top: 10px;
            left: 140px; /* 少し右に移動 */
        }
        #blue-color-picker-max {
            top: 230px; /* 下に移動 */
            left: 140px;
        }
        #white-color-picker-min {
            top: 10px;
            left: 270px; /* 少し右に移動 */
        }
        #white-color-picker-max {
            top: 230px; /* 下に移動 */
            left: 270px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5.5.2/dist/iro.min.js"></script>
</head>
<body>
    <h1>HSV Color Detection Administration Page</h1>

    <div id="video-container">
        <img id="video" src="/processed_feed">

        <!-- Red Min Picker -->
        <div class="color-map" id="red-color-picker-min">
            <h3><font color="red">Red Min:</font></h3>
            <div id="red-min-hsv">HSV:</div>
        </div>
        <!-- Red Max Picker -->
        <div class="color-map" id="red-color-picker-max">
            <h3><font color="red">Red Max:</font></h3>
            <div id="red-max-hsv">HSV:</div>
        </div>
    
        <!-- Blue Min Picker -->
        <div class="color-map" id="blue-color-picker-min">
            <h3><font color="blue">Blue Min:</font></h3>
            <div id="blue-min-hsv">HSV:</div>
        </div>
        <!-- Blue Max Picker -->
        <div class="color-map" id="blue-color-picker-max">
            <h3><font color="blue">Blue Max:</font></h3>
            <div id="blue-max-hsv">HSV:</div>
        </div>

        <!-- White Min Picker -->
        <div class="color-map" id="white-color-picker-min">
            <h3><font color="white">White Min:</font></h3>
            <div id="white-min-hsv">HSV:</div>
        </div>
        <!-- White Max Picker -->
        <div class="color-map" id="white-color-picker-max">
            <h3><font color="white">White Max:</font></h3>
            <div id="white-max-hsv">HSV:</div>
        </div>
    </div>

    <script>
        let redColorPickerMin, blueColorPickerMin, whiteColorPickerMin;
        let redColorPickerMax, blueColorPickerMax, whiteColorPickerMax;

        // サーバーからCOLOR_RANGESを取得
        const colorRanges = {{ color_ranges | tojson }};

        function initializeColorPickers() {
            // 赤のカラーピッカーを初期化
            redColorPickerMin = new iro.ColorPicker("#red-color-picker-min", {
                width: 100,
                color: {
                    h: colorRanges.red[0][0] * 2,
                    s: colorRanges.red[0][1],
                    v: colorRanges.red[0][2] / 255 * 100,
                }
            });
            redColorPickerMax = new iro.ColorPicker("#red-color-picker-max", {
                width: 100,
                color: {
                    h: colorRanges.red[1][0] * 2,
                    s: colorRanges.red[1][1],
                    v: colorRanges.red[1][2] / 255 * 100,
                }
            });

            // 青のカラーピッカーを初期化
            blueColorPickerMin = new iro.ColorPicker("#blue-color-picker-min", {
                width: 100,
                color: {
                    h: colorRanges.blue[0][0] * 2,
                    s: colorRanges.blue[0][1],
                    v: colorRanges.blue[0][2] / 255 * 100,
                }
            });
            blueColorPickerMax = new iro.ColorPicker("#blue-color-picker-max", {
                width: 100,
                color: {
                    h: colorRanges.blue[1][0] * 2,
                    s: colorRanges.blue[1][1],
                    v: colorRanges.blue[1][2] / 255 * 100,
                }
            });

            // 白のカラーピッカーを初期化
            whiteColorPickerMin = new iro.ColorPicker("#white-color-picker-min", {
                width: 100,
                color: {
                    h: colorRanges.white[0][0] * 2,
                    s: colorRanges.white[0][1],
                    v: colorRanges.white[0][2] / 255 * 100,
                }
            });
            whiteColorPickerMax = new iro.ColorPicker("#white-color-picker-max", {
                width: 100,
                color: {
                    h: colorRanges.white[1][0] * 2,
                    s: colorRanges.white[1][1],
                    v: colorRanges.white[1][2] / 255 * 100,
                }
            });

            // 各カラーピッカーの色変更時のイベントリスナーを設定
            setupColorChangeHandlers();
        }

        // カラーピッカーが変更されたときにサーバーへ色範囲を送信
        function setupColorChangeHandlers() {
            redColorPickerMin.on('color:change', updateColorRanges);
            redColorPickerMax.on('color:change', updateColorRanges);
            blueColorPickerMin.on('color:change', updateColorRanges);
            blueColorPickerMax.on('color:change', updateColorRanges);
            whiteColorPickerMin.on('color:change', updateColorRanges);
            whiteColorPickerMax.on('color:change', updateColorRanges);
        }

        // 色範囲をサーバーに送信する関数
        function updateColorRanges() {
            const colorRanges = {
                red: [
                    [
                        Math.round(redColorPickerMin.color.hsv.h / 2),
                        Math.round(redColorPickerMin.color.hsv.s),
                        Math.round(redColorPickerMin.color.hsv.v * 255 / 100)
                    ],
                    [
                        Math.round(redColorPickerMax.color.hsv.h / 2),
                        Math.round(redColorPickerMax.color.hsv.s),
                        Math.round(redColorPickerMax.color.hsv.v * 255 / 100)
                    ]
                ],
                blue: [
                    [
                        Math.round(blueColorPickerMin.color.hsv.h / 2), 
                        Math.round(blueColorPickerMin.color.hsv.s), 
                        Math.round(blueColorPickerMin.color.hsv.v * 255 / 100)
                    ],
                    [
                        Math.round(blueColorPickerMax.color.hsv.h / 2), 
                        Math.round(blueColorPickerMax.color.hsv.s), 
                        Math.round(blueColorPickerMax.color.hsv.v * 255 / 100)
                    ]
                ],
                white: [
                    [
                        Math.round(whiteColorPickerMin.color.hsv.h / 2), 
                        Math.round(whiteColorPickerMin.color.hsv.s), 
                        Math.round(whiteColorPickerMin.color.hsv.v * 255 / 100)
                    ], 
                    [
                        Math.round(whiteColorPickerMax.color.hsv.h / 2), 
                        Math.round(whiteColorPickerMax.color.hsv.s), 
                        Math.round(whiteColorPickerMax.color.hsv.v * 255 / 100)
                    ]
                ]
            };

            // HSV値を表示
            $('#red-min-hsv').text(`HSV: (${Math.round(redColorPickerMin.color.hsv.h)}, ${Math.round(redColorPickerMin.color.hsv.s)}, ${Math.round(redColorPickerMin.color.hsv.v)})`);
            $('#red-max-hsv').text(`HSV: (${Math.round(redColorPickerMax.color.hsv.h)}, ${Math.round(redColorPickerMax.color.hsv.s)}, ${Math.round(redColorPickerMax.color.hsv.v)})`);
            $('#blue-min-hsv').text(`HSV: (${Math.round(blueColorPickerMin.color.hsv.h)}, ${Math.round(blueColorPickerMin.color.hsv.s)}, ${Math.round(blueColorPickerMin.color.hsv.v)})`);
            $('#blue-max-hsv').text(`HSV: (${Math.round(blueColorPickerMax.color.hsv.h)}, ${Math.round(blueColorPickerMax.color.hsv.s)}, ${Math.round(blueColorPickerMax.color.hsv.v)})`);
            $('#white-min-hsv').text(`HSV: (${Math.round(whiteColorPickerMin.color.hsv.h)}, ${Math.round(whiteColorPickerMin.color.hsv.s)}, ${Math.round(whiteColorPickerMin.color.hsv.v)})`);
            $('#white-max-hsv').text(`HSV: (${Math.round(whiteColorPickerMax.color.hsv.h)}, ${Math.round(whiteColorPickerMax.color.hsv.s)}, ${Math.round(whiteColorPickerMax.color.hsv.v)})`);

            $.post('/update_ranges', { color_ranges: JSON.stringify(colorRanges) }, function (data) {
                console.log(data.message); // 成功メッセージをコンソールに表示
            });
        }

        $(document).ready(function() {
            initializeColorPickers();
        });
    </script>
</body>
</html>
