<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Detection</title>
    <style>
        #video-container {
            position: relative;
            display: inline-block;
        }
        #video {
            width: 100%;
            height: auto;
        }
        .slider {
            position: absolute;
            z-index: 10;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
        }
        .value-display {
            margin-top: 5px;
            font-size: 12px;
            color: #333;
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Color Detection Administration Page</h1>
    
    <div id="video-container">
        <img id="video" src="/processed_feed">
        <div class="slider" style="top: 10px; left: 10px;">
            <h3><font color="red">赤</font></h3>
            <label>H(min): <input type="range" id="red_hue_min" min="0" max="180"></label>
            <div class="value-display" id="red_hue_min_display"></div>
            <label>S(min): <input type="range" id="red_sat_min" min="0" max="255"></label>
            <div class="value-display" id="red_sat_min_display"></div>
            <label>V(min): <input type="range" id="red_val_min" min="0" max="255"></label>
            <div class="value-display" id="red_val_min_display"></div>
            <br>
            <label>H(max): <input type="range" id="red_hue_max" min="0" max="180"></label>
            <div class="value-display" id="red_hue_max_display"></div>
            <label>S(max): <input type="range" id="red_sat_max" min="0" max="255"></label>
            <div class="value-display" id="red_sat_max_display"></div>
            <label>V(max): <input type="range" id="red_val_max" min="0" max="255"></label>
            <div class="value-display" id="red_val_max_display"></div>
        </div>
        <div class="slider" style="top: 10px; left: 300px;">
            <h3><font color="blue">青</font></h3>
            <label>H(min): <input type="range" id="blue_hue_min" min="0" max="180"></label>
            <div class="value-display" id="blue_hue_min_display"></div>
            <label>S(min): <input type="range" id="blue_sat_min" min="0" max="255"></label>
            <div class="value-display" id="blue_sat_min_display"></div>
            <label>V(min): <input type="range" id="blue_val_min" min="0" max="255"></label>
            <div class="value-display" id="blue_val_min_display"></div>
            <br>
            <label>H(max): <input type="range" id="blue_hue_max" min="0" max="180"></label>
            <div class="value-display" id="blue_hue_max_display"></div>
            <label>S(max): <input type="range" id="blue_sat_max" min="0" max="255"></label>
            <div class="value-display" id="blue_sat_max_display"></div>
            <label>V(max): <input type="range" id="blue_val_max" min="0" max="255"></label>
            <div class="value-display" id="blue_val_max_display"></div>
        </div>
        <div class="slider" style="top: 10px; left: 600px;">
            <h3><font color="white">白</font></h3>
            <label>H(min): <input type="range" id="white_hue_min" min="0" max="180"></label>
            <div class="value-display" id="white_hue_min_display"></div>
            <label>S(min): <input type="range" id="white_sat_min" min="0" max="255"></label>
            <div class="value-display" id="white_sat_min_display"></div>
            <label>V(min): <input type="range" id="white_val_min" min="0" max="255"></label>
            <div class="value-display" id="white_val_min_display"></div>
            <br>
            <label>H(max): <input type="range" id="white_hue_max" min="0" max="180"></label>
            <div class="value-display" id="white_hue_max_display"></div>
            <label>S(max): <input type="range" id="white_sat_max" min="0" max="255"></label>
            <div class="value-display" id="white_sat_max_display"></div>
            <label>V(max): <input type="range" id="white_val_max" min="0" max="255"></label>
            <div class="value-display" id="white_val_max_display"></div>
        </div>
    </div>

    <script>
        // サーバーから色の範囲を取得してスライダーに反映
        const colorRanges = {{ color_ranges|tojson }};

        document.addEventListener('DOMContentLoaded', function () {
            // 赤のスライダーの初期値を設定
            document.getElementById('red_hue_min').value = colorRanges.red[0][0];
            document.getElementById('red_sat_min').value = colorRanges.red[0][1];
            document.getElementById('red_val_min').value = colorRanges.red[0][2];
            document.getElementById('red_hue_max').value = colorRanges.red[1][0];
            document.getElementById('red_sat_max').value = colorRanges.red[1][1];
            document.getElementById('red_val_max').value = colorRanges.red[1][2];

            document.getElementById('red_hue_min_display').textContent = colorRanges.red[0][0];
            document.getElementById('red_sat_min_display').textContent = colorRanges.red[0][1];
            document.getElementById('red_val_min_display').textContent = colorRanges.red[0][2];
            document.getElementById('red_hue_max_display').textContent = colorRanges.red[1][0];
            document.getElementById('red_sat_max_display').textContent = colorRanges.red[1][1];
            document.getElementById('red_val_max_display').textContent = colorRanges.red[1][2];

            // 青のスライダーの初期値を設定
            document.getElementById('blue_hue_min').value = colorRanges.blue[0][0];
            document.getElementById('blue_sat_min').value = colorRanges.blue[0][1];
            document.getElementById('blue_val_min').value = colorRanges.blue[0][2];
            document.getElementById('blue_hue_max').value = colorRanges.blue[1][0];
            document.getElementById('blue_sat_max').value = colorRanges.blue[1][1];
            document.getElementById('blue_val_max').value = colorRanges.blue[1][2];
    
            document.getElementById('blue_hue_min_display').textContent = colorRanges.blue[0][0];
            document.getElementById('blue_sat_min_display').textContent = colorRanges.blue[0][1];
            document.getElementById('blue_val_min_display').textContent = colorRanges.blue[0][2];
            document.getElementById('blue_hue_max_display').textContent = colorRanges.blue[1][0];
            document.getElementById('blue_sat_max_display').textContent = colorRanges.blue[1][1];
            document.getElementById('blue_val_max_display').textContent = colorRanges.blue[1][2];
    
            // 白のスライダーの初期値を設定
            document.getElementById('white_hue_min').value = colorRanges.white[0][0];
            document.getElementById('white_sat_min').value = colorRanges.white[0][1];
            document.getElementById('white_val_min').value = colorRanges.white[0][2];
            document.getElementById('white_hue_max').value = colorRanges.white[1][0];
            document.getElementById('white_sat_max').value = colorRanges.white[1][1];
            document.getElementById('white_val_max').value = colorRanges.white[1][2];
    
            document.getElementById('white_hue_min_display').textContent = colorRanges.white[0][0];
            document.getElementById('white_sat_min_display').textContent = colorRanges.white[0][1];
            document.getElementById('white_val_min_display').textContent = colorRanges.white[0][2];
            document.getElementById('white_hue_max_display').textContent = colorRanges.white[1][0];
            document.getElementById('white_sat_max_display').textContent = colorRanges.white[1][1];
            document.getElementById('white_val_max_display').textContent = colorRanges.white[1][2];
        });
    </script>


    <script>
        function updateRanges() {
            const ranges = {
                red: [
                    [parseInt($('#red_hue_min').val()), parseInt($('#red_sat_min').val()), parseInt($('#red_val_min').val())],
                    [parseInt($('#red_hue_max').val()), parseInt($('#red_sat_max').val()), parseInt($('#red_val_max').val())]
                ],
                blue: [
                    [parseInt($('#blue_hue_min').val()), parseInt($('#blue_sat_min').val()), parseInt($('#blue_val_min').val())],
                    [parseInt($('#blue_hue_max').val()), parseInt($('#blue_sat_max').val()), parseInt($('#blue_val_max').val())]
                ],
                white: [
                    [parseInt($('#white_hue_min').val()), parseInt($('#white_sat_min').val()), parseInt($('#white_val_min').val())],
                    [parseInt($('#white_hue_max').val()), parseInt($('#white_sat_max').val()), parseInt($('#white_val_max').val())]
                ]
            };

            $.post('/update_ranges', { color_ranges: JSON.stringify(ranges) }, function (data) {
                console.log(data.message); // 成功メッセージをコンソールに表示
            });
        }

        $(document).ready(function () {
            // 各スライダーの変更イベントに対してupdateRangesを呼び出す
            $('input[type="range"]').on('input', function () {
                const id = $(this).attr('id');
                $('#' + id + '_display').text($(this).val()); // 現在の値を表示
                updateRanges(); // サーバーに現在の範囲を更新
            });
        });
        // 更新した範囲を用いてストリーミング映像に反映
        $('#video').attr('src', '/processed_feed?' + new Date().getTime());
    </script>
</body>
</html>
